body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; background-color: FFFFFF }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }

#content-container { display: block; position: relative; width: 1528px; height: 200px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#1{
	top: 0px;
	left: 0px;
	width: 1528px;
	height: 500px;
	background:#;
}

#страхует {
	top: 0%;
	left: 0%;
	high: 100%;
}

#фон {
	top: 0%;
	left: 0%;
	width: 100%;
}

#начать {
	top: 73%;
	right: 16%;
	width: 26%;
}
