body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; background-color: FFFFFF }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }

#content-container { display: block; position: relative; width: 1528px; height: 200px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#4{
	top: 0px;
	left: 0px;
	width: 1528px;
	height: 500px;
	background:#;
}

#страхует {
	top: 0%;
	left: 0%;
	high: 100%;
}

#фон {
	top: 0%;
	left: 0%;
	width: 100%;
}

#Картинка1 {
	top: 70%;
	right: 0%;
	width: 18%;
}

#Картинка2 {
	top: 57%;
	right: 22%;
	width: 22%;
}

#Картинка3 {
	top: 57%;
	left: 0%;
	width: 19%;
}

#Картинка5 {
	top: 0%;
	left: 40%;
	width: 29%;
}