body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; background-color: FFFFFF }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }

#content-container { display: block; position: relative; width: 1528px; height: 200px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#4{
	top: 0px;
	left: 0px;
	width: 1528px;
	height: 500px;
	background:#;
}

#страхует {
	top: 0%;
	left: 0%;
	high: 100%;
}

#фон {
	top: 0%;
	left: 0%;
	width: 100%;
}

#Картинка1 {
	top: 21%;
	right: 14%;
	width: 12%;
}

#Картинка2 {
	top: 45%;
	left: 39%;
	width: 6%;
}

#Картинка3 {
	top: 75%;
	left: 14%;
	width: 12%;
}

#Картинка4 {
	top: 93%;
	left: 47%;
	width: 18%;
}

#Картинка5 {
	top: 76%;
	left: 60%;
	width: 12%;
}

#Картинка6 {
	top: 54%;
	left: 18%;
	width: 16%;
}

#Картинка7 {
	top: 64%;
	right: 15%;
	width: 8%;
}

#Картинка8 {
	top: 21%;
	right: 14%;
	width: 12%;
}

#Картинка9 {
	top: 13%;
	left: 0%;
	width: 16%;
}

#Картинка10 {
	top: 21%;
	right: 14%;
	width: 12%;
}
#Картинка11 {
	top: 41%;
	right: 54%;
	width: 22%;
}
#Картинка12 {
	top: 61%;
	right: 16%;
	width: 16%;
}
#Картинка13 {
	top: 7%;
	left: 44%;
	width: 32%;
}
#Картинка14 {
	top: 77%;
	left: 1%;
	width: 14%;
}
#Картинка15 {
	top: 21%;
	right: 14%;
	width: 12%;
}
#Картинка16 {
	top: 21%;
	right: 14%;
	width: 12%;
}
#Картинка17 {
	top: 51%;
	right: 46%;
	width: 21%;
}
#Картинка18 {
	top: 21%;
	right: 14%;
	width: 12%;
}
#Картинка19 {
	top: 85%;
	right: 24%;
	width: 12%;
}
#Картинка20 {
	top: 1%;
	right: 71%;
	width: 12%;
}
#Картинка21 {
	top: 34%;
	left: 0%;
	width: 12%;
}
#Картинка22 {
	top: 64%;
	right: 37%;
	width: 7%;
}
#Картинка23 {
	top: 1%;
	right: 14%;
	width: 12%;
}
#Картинка24 {
	top: 0%;
	right: 34%;
	width: 10%;
}
#Картинка25 {
	top: 31%;
	right: 54%;
	width: 9%;
}
#Картинка26 {
	top: 90%;
	right: 80%;
	width: 8%;
}
#Картинка27 {
	top: 90%;
	right: 57%;
	width: 12%;
}
#Картинка28 {
	top: 31%;
	right: 64%;
	width: 22%;
}
#Картинка29 {
	top: 41%;
	right: 44%;
	width: 6%;
}
#Картинка30 {
	top: 98%;
	right: 14%;
	width: 12%;
}
#Картинка31 {
	top: 19%;
	right: 4%;
	width: 7%;
}
#Картинка32 {
	top: 51%;
	right: 64%;
	width: 16%;
}
#Картинка33 {
	top: 51%;
	right: 1%;
	width: 12%;
}
#Картинка34 {
	top: 41%;
	right: 94%;
	width: 7%;
}
#Картинка35 {
	top: 61%;
	right: 0%;
	width: 8%;
}
#Картинка36 {
	top: 25%;
	right: 34%;
	width: 10%;
}
#Картинка37 {
	top: 42%;
	right: 54%;
	width: 15%;
}
#Картинка38 {
	top: 25%;
	right: 12%;
	width: 7%;
}
#Картинка39 {
	top: 0%;
	left: 0%;
	width: 12%;
}
#Картинка40 {
	top: 0%;
	right: 4%;
	width: 12%;
}
#Картинка41 {
	top: 0%;
	left: 4%;
	width: 50%;
}
#Картинка42 {
	top: 0%;
	right: 4%;
	width: 50%;
}
#Картинка43 {
	top: 0%;
	right: 24%;
	width: 10%;
}
#Картинка44 {
	top: 30%;
	left: 4%;
	width: 20%;
}
#Картинка45 {
	top: 90%;
	right: 54%;
	width: 15%;
}
#Картинка46 {
	top: 0%;
	left: 8%;
	width: 10%;
}
#Картинка47 {
	top: 44%;
	left: 18%;
	width: 10%;
}
#Картинка48 {
	top: 0%;
	left: 0%;
	width: 40%;
}
#Картинка49 {
	top: 10%;
	left: 8%;
	width: 8%;
}
#Картинка50 {
	top: 70%;
	right: 8%;
	width: 6%;
}
#Картинка51 {
	top: 70%;
	right: 40%;
	width: 6%;
}
#Картинка52 {
	top: 82%;
	right: 38%;
	width: 16%;
}
#Картинка53 {
	top: 82%;
	right: 48%;
	width: 7%;
}
#Картинка59 {
	top: 10%;
	right: 28%;
	width: 17%;
}
#Картинка54 {
	top: 22%;
	right: 48%;
	width: 7%;
}
#Картинка55 {
	top: 59%;
	right: 80%;
	width: 7%;
}
#Картинка56 {
	top: 3%;
	right: 78%;
	width: 7%;
}
#Картинка57 {
	top: 10%;
	right: 18%;
	width: 14%;
}
#Картинка58 {
	top: 2%;
	right: 48%;
	width: 97%;
}
#наглавную {
	top: 82%;
	right: 21%;
	width: 17%;
}